java-msg/.gradle
java-msg/.idea
java-rest/.gradle
java-rest/.idea
java-server/.gradle
java-server/.idea
java-rest/gradle
java-rest/gradlew.bat
java-rest/gradlew
java-msg/gradle
java-msg/gradlew.bat
java-msg/gradlew
java-msg/build
java-msg/src/main/grpc
java-msg/src/main/grpckt
java-msg/src/main/java
java-msg/src/main/kotlin
java-server/gradle/wrapper
java-server/gradlew
java-server/gradlew.bat
java-server/build
java-server/application.properties
java-rest/application.properties
java-rest/build
